@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Tiny extra polish */
body {
  font-family:
    Inter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial;
  background: linear-gradient(180deg, #f7fbff 0%, #ffffff 100%);
  color: #0f172a;
  min-height: 100vh;
  overflow-y: scroll;
}

/* simple container */
.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  cursor: pointer;
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */
